<div id="top-level">
  <div id="uncached">
    <%= @blog %>
  </div>

  <% cache do %>
    <%#= render Blogs::ExtendedBlogComponent.new @blog %>
    <%= render Blogs::SimilarBlogComponent.new @blog %>
  <% end %>
</div>
